<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
         <p><%= link_to "Home", root_path %></p>
        </li>
        <li class="nav-item">
          <p><%= link_to "Sport", sport_path %></p>
        </li>
        <li class="nav-item">
          <p><%= link_to "Musique", musique_path %></p>
        </li>
        <li class="nav-item">
          <p><%= link_to "Voyages", voyage_path %></p>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  var icon = document.getElementById("icon");
  icon.onclick = function(){
    document.body.classList.toggle("dark-theme");
    if(document.body.classList.contains("dark-theme")){
      icon.src = "https://cdn-icons.flaticon.com/png/512/3222/premium/3222672.png?token=exp=1643830403~hmac=5ec0fa00b3a166cb70100a469b4bce0e";
    }else{
      icon.src = "https://cdn-icons-png.flaticon.com/512/1415/1415431.png";
    }
  }
</script>
