<%= render 'shared/navbar' %>
  <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
    <script>
    function addDarkmodeWidget() {
      new Darkmode().showWidget();
    }
    window.addEventListener('load', addDarkmodeWidget);
    </script>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1516796181074-bf453fbfa3e6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);">
  <div class="container-title">
    <h1>Mes passions </h1>
</div>
    <p>
      <span id="banner-typed-text"></span>
    </p>
  </div>
</div>

<div class="container">
    <div class="card-body">
      <img class="avatar-large mb-3 mt-3" alt="avatar-large" src="https://avatars.githubusercontent.com/u/89265583?v=4" />
      <br>
      <p>Salut, je m'appelle Yasmine</p>
      <p>Voici un site dédié à mes passions. J'adore faire du sport, de la musique et voyager !
      <br>N'hésitez pas à m'envoyer un message via le formulaire !</p>
      </div>
    </div>
  </div>
</div>

<div class="container mb-5">
  <input type="color" id="colorInputColor"><br>
  <input type="button" id="colorButton" value="click to change color" onclick="changeColor()">
  <script>
    function changeColor() {
      let color = document.getElementById('colorInputColor').value;
      document.body.style.backgroundColor = color;
      document.getElementById('colorInputText').value = color;
    }
  </script>
</div>

<div class="container">
  <form action="" method="post">
    <div>
      <label for="name">Nom :</label>
      <input type="text" id="name" name="user_name">
    </div>
    <div>
      <label for="msg">Message :</label>
      <textarea id="msg" name="user_message"></textarea>
    </div>
    <div>
      <input type="submit" value="Envoyer" />
    </div>
  </form>
</div>


<footer class = "footer mt-5">
  <div class = "footer-container" >
    <div class = "icons-container">
      <p>Suivez-moi</p>
        <div class="icons pb-3">
          <a href = "https://github.com/YasmineBouhaik" target="_blank"><i class="footer-icon fab fa-github fa-2x"></i></a>
          <a href="https://www.linkedin.com/in/yasminebouhaik/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
        </div>
    </div>
    <p>© 2022 Passions YB 👩‍💻</p>
  </div>
</footer>
