<%= render 'shared/navbar' %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1494438639946-1ebd1d20bf85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2067&q=80);">
  <div class="container-title">
    <h1>Passions </h1>
</div>
    <p>
      <span id="banner-typed-text"></span>
    </p>
  </div>

<div class="container">
    <div class="card-body">
      <img class="avatar-large mb-3 mt-3" alt="avatar-large" src="https://avatars.githubusercontent.com/u/89265583?v=4" />
      <br>
      <p>Salut, je m'appelle Yasmine</p>
      <p>Voici un site dédié à mes passions. J'adore faire du sport, de la musique et voyager !
      <br>N'hésitez pas à m'envoyer un message via le formulaire !</p>
    </div>
</div>

<div class="container mt-5">
  <form action="#" method="get">
    <div>
      <label for="name">Nom :</label>
      <input type="text" id="name" name="user_name">
    </div>
    <div>
      <label for="msg">Message :</label>
      <textarea id="msg" name="user_message"></textarea>
    </div>
    <div>
      <input type="submit" value="Envoyer" />
    </div>
  </form>
</div>

<style>
  html,
  body {
    transition: all .4s linear;
  }

  .wrapper {
    position: relative;
    height: 100px;
    width: 100px;
    background: transparent;
  }

  .wrapper #btn {
    position: absolute;
    height: 50px;
    width: 100px;
    background: #22618B;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    text-align: center;
    font-family: "lato", sans-serif;
    font-size: 20px;
    line-height: 48px;
    left: 98px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    border-radius: 8px;
  }

  .wrapper #btn .menu {
    position: absolute;
    height: 148px;
    width: 200px;
    top: 51px;
    background: #fff;
    border-radius: 28px;
    border: 2px solid #266dd2;
    right: -54px;
    visibility: hidden;
    transition: all .3s ease-in-out
  }

  .wrapper #btn .menu span:nth-child(1) {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: tomato;
    left: 6px;
    top: 16px
  }

  .wrapper #btn .menu span:nth-child(2) {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #f03434;
    border: 1px solid #fff;
    left: 74px;
    top: 16px
  }

  .wrapper #btn .menu span:nth-child(3) {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: #9a12b3;
    left: 143px;
    top: 16px
  }

  .wrapper #btn .menu span:nth-child(4) {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #1ba39c;
    border: 1px solid #fff;
    left: 6px;
    top: 81px
  }

  .wrapper #btn .menu span:nth-child(5) {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: #4183d7;
    left: 74px;
    top: 81px
  }

  .wrapper #btn .menu span:nth-child(6) {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #9395a7;
    border: 1px solid #fff;
    left: 143px;
    top: 81px
  }

  .wrapper #btn:hover {
    background: #154fa0
  }

  .wrapper #btn:hover .menu {
    visibility: visible;
    animation: anim .4s ease-in-out 1;
  }

  @keyframes anim {
    0% {
      transform: scale(0.4);
      opacity: 0.8;
      top: 0px;
      }
    100% {
      transform: scale(1)
    }
  }
</style>

<body>
  <div class="wrapper d-flex align-items-end flex-column mt-3">
    <div id="btn">
      Colors
      <div class="menu">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</body>

<script src="jquery-3.3.1.min.js"></script>
<script>
  $(document).ready(function() {
    var s1 = ".wrapper #btn .menu span:nth-child(1)";
      $(s1).on('click', function() {
      $('html,body').css('background', 'tomato');
    });
    var s2 = ".wrapper #btn .menu span:nth-child(2)";
      $(s2).on('click', function() {
      $('html,body').css('background', '#f03434');
    });
    var s3 = ".wrapper #btn .menu span:nth-child(3)";
      $(s3).on('click', function() {
      $('html,body').css('background', '#9a12b3');
    });
    var s4 = ".wrapper #btn .menu span:nth-child(4)";
      $(s4).on('click', function() {
      $('html,body').css('background', '#1CA39B');
    });
    var s5 = ".wrapper #btn .menu span:nth-child(5)";
      $(s5).on('click', function() {
      $('html,body').css('background', '#4183D7');
    });
    var s6 = ".wrapper #btn .menu span:nth-child(6)";
      $(s6).on('click', function() {
      $('html,body').css('background', '#9296A6');
    });
  });
</script>

<footer class = "footer mt-5">
  <div class = "footer-container" >
    <div class = "icons-container">
      <p>Suivez-moi</p>
        <div class="icons pb-3">
          <a href = "https://github.com/YasmineBouhaik" target="_blank"><i class="footer-icon fab fa-github fa-2x"></i></a>
          <a href="https://www.linkedin.com/in/yasminebouhaik/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
        </div>
    </div>
    <p>© 2022 Passions YB 👩‍💻</p>
  </div>
</footer>

<script>
  function addDarkmodeWidget() {
    new Darkmode().showWidget();
  }
  window.addEventListener('load', addDarkmodeWidget);
</script>
