<%= render 'shared/navbar' %>
 <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
  <script>
  function addDarkmodeWidget() {
    new Darkmode().showWidget();
  }
  window.addEventListener('load', addDarkmodeWidget);
  </script>
<div class="container d-flex justify-content-center">
  <div class="card mb-3 mt-5" style="max-width: 100%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://scontent-cdt1-1.xx.fbcdn.net/v/t31.18172-8/24297382_1537178243033484_5423448243149397906_o.jpg?_nc_cat=101&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=9hJpGb5xLL0AX92z3ym&_nc_ht=scontent-cdt1-1.xx&oh=00_AT8YTnTAEGuthMnRPcMUtcuyqg66LAZgaAYm8o1zJh3KIQ&oe=621EC31E" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Musique</h5>
          <p class="card-text">J'ai, pendant quelques années, joué de la batterie dans un groupe de musique.</p>
           <div class="bots <%= "transparent" if current_page?("http://www.bikeaway.live/") %> navbar navbar-expand-sm navbar-lewagon justify-content-top">
            <%= link_to "https://www.deezer.com/search/beans%20on%20toast%20salvation", target:"_blank", class: "navbar-brand" do %>
            <%= image_tag "logobots.png", style: "width: 50%" %><p>Click 🎧</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
<h3>Centres d'intérêts musicaux</h3>
</div>
<div class="container mt-5 mb-5 d-flex justify-content-center">
  <div class="row .col-6 .col-md-4 flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="https://images.unsplash.com/photo-1526815456940-2c11653292a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="Avatar">
      </div>
      <div class="flip-card-back">
        <h2>Vinyles</h2>
        <p>Je les collectionne</p>
        <p>Surtout les grands classiques !</p>
      </div>
    </div>
  </div>
  <div class="row .col-6 .col-md-4 flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="https://images.unsplash.com/photo-1569315618680-3d673b5e1514?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="Avatar">
      </div>
      <div class="flip-card-back">
        <h2>Concerts</h2>
        <p>J'adore découvrir des groupes en live</p>
        <p>Concerts, festivals...</p>
      </div>
    </div>
  </div>
  <div class="row .col-6 .col-md-4 flip-card">
     <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="Avatar">
      </div>
      <div class="flip-card-back">
        <h2>J'écoute de tout</h2>
        <p>Rap, reggea, rock, zouk, funk</p>
        <p>Si ça grouve, c'est bon !</p>
      </div>
     </div>
    </div>
  </div>
</div>
