<%= render 'shared/navbar' %>
 <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
  <script>
  function addDarkmodeWidget() {
    new Darkmode().showWidget();
  }
  window.addEventListener('load', addDarkmodeWidget);
  </script>

<div class="container mt-5">
  <h2> Quelques photos prises lors de mes voyages 📸 </h2>
</div>

<div class="container mb-5 mt-5">
  <input type="color" id="colorInputColor"><br>
  <input type="button" id="colorButton" value="click to change color" onclick="changeColor()">
  <script>
    function changeColor() {
      let color = document.getElementById('colorInputColor').value;
      document.body.style.backgroundColor = color;
      document.getElementById('colorInputText').value = color;
    }
  </script>
</div>

<div class="container">
  <div class="container mt-5 d-flex justify-content-center border-radius:8px;">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://scontent.flux1-1.fna.fbcdn.net/v/t1.6435-9/103250160_10158312922341797_7684075034352886218_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=e3f864&_nc_ohc=OnFMlfEp4KgAX85oe_V&_nc_ht=scontent.flux1-1.fna&oh=00_AT8_W0GSHtx3fVu2vurlHqlvsgRQohk4paE1w_4X3t-eLg&oe=621E2C56" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://scontent.flux1-1.fna.fbcdn.net/v/t31.18172-8/11406530_10153403871656797_589662080565469134_o.jpg?_nc_cat=100&ccb=1-5&_nc_sid=19026a&_nc_ohc=w5597L84cpkAX_TXSAz&tn=4IpQW3BzO2YeJKoD&_nc_ht=scontent.flux1-1.fna&oh=00_AT-jjLWfsgRzCkOloIJHdLQpOEKIyPGM6uQEYrxBH83paw&oe=6220852E" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://scontent.flux1-1.fna.fbcdn.net/v/t31.18172-8/53750_10152641098201797_6442267654660391618_o.jpg?_nc_cat=106&ccb=1-5&_nc_sid=174925&_nc_ohc=6_qvpLH67fgAX9SYI_l&tn=4IpQW3BzO2YeJKoD&_nc_ht=scontent.flux1-1.fna&oh=00_AT-qWUIEooYvYv1nMrins3u0Jj11eCGbtXm6ffl0dS298Q&oe=621E6EA3" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<footer class = "footer mt-5">
  <div class = "footer-container" >
    <div class = "icons-container">
      <p>Suivez-moi</p>
      <div class="icons pb-3">
       <a href = "" target="_blank"><i class="footer-icon fab fa-facebook-square fa-2x"></i></a>
       <a href = "" target="_blank"><i class="footer-icon fab fa-instagram fa-2x"></i></a>
       <a href = "" target="_blank"><i class="footer-icon fab fa-github fa-2x"></i></a>
      </div>
    </div>
    <p>© 2022 Passions YB 👩‍💻</p>
  </div>
</footer>
