.footer{
    text-align: center;
    background-color: white;
    height: 100px;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
  p{
    font-size: 12px;
  }
}
.icons-container {
  padding-top: 0px ;
}
.footer-icon {
  color: black;
  padding-left: 1px;
  padding-right: 1px;
}
