// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "footer";
@import "form";

h1 {
  color: #2d6a4f;
  font-size: 50px;
  text-align: center;
}

.carousel {
  width: 50%;
}

.card {
  border-radius: 8px;
}
